#page_container {
  width: 1026px;
  margin: 0 auto;
  box-shadow: 0px 0px 48px 16px rgba(0,0,0,0.175);
  border: 1px solid black;
  background-color: #ffffff;
}

.thumb {
  width: 260px;
  padding-left: 50px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-top: 20px;
}

body {
  font-family: "Arial", sans-serif;
}

#logo {
  width: 200px;
  float: left;
  position: absolute;
  padding: 15px 0 20px 40px;
}

#logo img {
  width: 100px;
}

#page_title {
  width: 1000px;
  padding-left: 125px;
  padding-top: 5px;
}

.title {
  font-size: 40px;
  text-shadow: 0 2px #2aacb9;
}

nav {
  clear: both;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33585D;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 50px;
  font-size: 20px;
  color: #ffffff;
}

nav li a:hover {
  background-color: #05013D;
}

footer {
  clear: both;
  height: 0px;
  background-image: linear-gradient(90deg, black, #285A5D);
  padding-bottom: 200px;
}

#more_info li {
  list-style-type: none;
}

#more_info {
  float: left;
  margin-top: 50px;
}

#more_info a {
  color: #ffffff;
  text-decoration: none;
}

#more_info li {
  list-style-type: none;
  line-height: 25px;
  margin-bottom: 10px;
}

#footer_logo img {
  width: 175px;
}

#footer_logo {
  float: right;
  padding-right: 5px;
  padding-top: 30px;
}

#white_line {
  background-color: #ffffff;
  width: 5px;
  height: 150px;
  position: absolute;
  margin-top: 20px;
  margin-left: 300px;
}

#footer_title h1 {
  font-size: 28px;
  color: #ffffff;
  font-style: italic;
}

#footer_title {
  position: absolute;
  padding-top: 150px;
  padding-left: 375px;
}

#info h1 {
  color: #ffffff;
  font-size: 32px;
}

#info h2 {
  color: #ffffff;
  font-size: 24px;
  white-space: nowrap;
}

#info a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

#info {
  padding-left: 325px;
  padding-top: 2px;
}

#main_title {
  text-align: center;
  color: #07ACC3;
  margin-bottom: -40px;
}

#main_title h1 {
  font-size: 64px;
}

#sub_title {
  text-align: center;
  color: #07ACC3;
}

#sub_title h3 {
  font-size: 28px;
  font-weight: normal;
}

#desc h3 {
  font-weight: normal;
  font-size: 28px;
}

#desc {
  text-align: center;
  width: 800px;
  padding-left: 125px;
}

#desc p {
  font-size: 20px;
}

#black_line {
  width: 500px;
  height: 5px;
  background-color: black;
  margin-left: 265px;
}

#waiata {
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  width: 370px;
  margin-left: 320px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  
}
