/* Page container boundaries and design features */
#page_container {
  width: 1026px;
  /* Centering the page container */
  margin: 0 auto;
  box-shadow: 0px 0px 48px 16px rgba(0,0,0,0.175);
  border: 1px solid black;
  background-color: #ffffff;
}
/* Gallery images sizing and positioning */
.thumb {
  width: 260px;
  padding-left: 50px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-top: 20px;
}
/* Font */
body {
  font-family: "Arial", sans-serif;
}
/* Logo positioning for header. */
#logo {
  width: 200px;
  position: absolute;
  padding: 15px 0 20px 40px;
}
/* Logo sizing */
#logo img {
  width: 100px;
}
/* Page title positoning and boundaries */
#page_title {
  width: 1000px;
  padding-left: 125px;
  padding-top: 5px;
}
/* Header title styling and sizing */
.title {
  font-size: 40px;
  text-shadow: 0 2px #2aacb9;
}
/* Allignment of navigational buttons to the center */
nav {
  clear: both;
  text-align: center;
}
/* Styling and bondaries for navigational buttons. */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33585D;
}
/* Allignment on horizontal plane */
nav li {
  display: inline-block;
}

nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 50px;
  font-size: 20px;
  color: #ffffff;
}

nav li a:hover {
  background-color: #05013D;
}

footer {
  clear: both;
  height: 0px;
  background-image: linear-gradient(90deg, black, #285A5D);
  padding-bottom: 200px;
}

#more_info li {
  list-style-type: none;
}

#more_info {
  float: left;
  margin-top: 50px;
}

#more_info a {
  color: #ffffff;
  text-decoration: none;
}

#more_info li {
  list-style-type: none;
  line-height: 25px;
  margin-bottom: 10px;
}

#footer_logo img {
  width: 175px;
}

#footer_logo {
  float: right;
  padding-right: 5px;
  padding-top: 30px;
}

#white_line {
  background-color: #ffffff;
  width: 5px;
  height: 150px;
  position: absolute;
  margin-top: 20px;
  margin-left: 300px;
}

#footer_title h1 {
  font-size: 28px;
  color: #ffffff;
  font-style: italic;
}

#footer_title {
  position: absolute;
  padding-top: 150px;
  padding-left: 375px;
}

#info h1 {
  color: #ffffff;
  font-size: 32px;
}

#info h2 {
  color: #ffffff;
  font-size: 24px;
  white-space: nowrap;
}

#info a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

#info {
  padding-left: 325px;
  padding-top: 2px;
}

#main_title {
  text-align: center;
  color: #005E6A;
  margin-bottom: -40px;
}

#main_title h1 {
  font-size: 64px;
}

#sub_title {
  text-align: center;
  color: #005E6A;
}

#sub_title h3 {
  font-size: 28px;
  font-weight: normal;
}

#desc h3 {
  font-weight: normal;
  font-size: 28px;
}

#desc {
  text-align: center;
  width: 800px;
  padding-left: 125px;
}

#desc p {
  font-size: 20px;
}

#black_line {
  width: 500px;
  height: 5px;
  background-color: black;
  margin-left: 265px;
}

#waiata {
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  width: 400px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  
}

.waiata_title {
  color: #005A80;
  font-weight: bolder;
  font-size: 24px;
}

.waiata_sub {
  font-weight: bold;
}

#waiata_3 {
  font-weight: bold;
  
}

#pupuke_background img {
  width: 1026px;
}

#gradient_cover {
  height: 350px;
  width: 1026px;
  background-image: linear-gradient(90deg, #A0D2E8, black );
  opacity: 0.7;
  position: absolute;
  margin-top: -354px;
}

.main_title {
  background-color: #505050;
  width: 250px;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  border-radius: 10px;
  position: absolute;
  margin-top: -200px;
  margin-left: 100px;
  padding: 10px;
  padding-left: 50px;
  font-family: 'Lexend Deca', serif;
}

.main_desc {
  background-color: #505050;
  color: #ffffff;
  width: 422px;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  margin-left: 500px;
  margin-top: -290px;
}

.main_desc a {
  color: #ffffff;
}

.circles {
  width: 328px;
  height: 320px;
  border-radius: 50%;
  background-color: #BCDAD5;
}

#circle1 {
  margin-top: 50px;
  margin-left: 50px;
}

#circle2 {
  position: absolute;
  margin-left: 685px;
  margin-top: -100px;
  z-index: 1;
}

#geo_maori_pupuke {
  background-color: #454545;
  width: 690px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 150px;
  margin-top: -250px;
  position: relative;
  z-index: 2;
}

.sub {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

#black_line2 {
  width: 850px;
  height: 5px;
  background-color: black;
  margin-left: 70px;
  margin-top: 100px;
}

#stacked img {
  width: 200px;
  height: 150px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#stacked {
  margin-top: 350px;
  margin-left: 150px;
  padding-bottom: 350px;
}

#sunset {
  transform: rotate(10deg);
  position: absolute;
  margin-top: -240px;
}

#swan {
  transform: rotate(-10deg);
  position: absolute;
  margin-top: -75px;
  z-index: 2
}

#grassy {
  transform: rotate(10deg);
  position: absolute;
  margin-top: 80px;
  z-index: 1; 
}

#swan img {
  height: 150px;
  width: 200px;
}


#sub1 {
  background-color: #505050;
  width: 163px;
  padding-left: 10px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 10px;
  margin-left: 50px;
  position: absolute;
  margin-left: 420px;
  margin-top: -600px;
}


#humanuse_p {
  width: 400px;
  float: right;
  margin-top: -500px;
  margin-right: 200px;
}

.main_title2 {
  background-color: #505050;
  width: 320px;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  z-index: 2;
  margin-left: 580px;
  margin-top: 150px;
}

.main_desc2 {
  background-color: #505050;
  color: #ffffff;
  width: 450px;
  height: 290px;
  border-radius: 10px;
  padding: 15px; 
  font-size: 16px;
  position: absolute;
  margin-top: 45px;
  margin-left: 25px;
  z-index: 2;
}

#gradient_cover2 {
  width: 1026px;
  height: 400px;
  background-image: linear-gradient(90deg, black, #A0D2E8 );
  opacity: 0.7;
  position: absolute;
  margin-top: -404px;
  z-index: 1;
}

#rangitoto_background img {
  width: 1026px;
  max-height: 400px;
}

#sub2 {
  background-color: #505050;
  color: #ffffff;
  width: 245px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  margin-left: 375px;
  margin-top: 50px;
  font-size: 24px;
}


#maori_hisp {
  text-align: center;
  width: 780px;
  margin-left: 110px;
}

#rocky_shore img {
  height: 225px;
  width: 650px;
  border: 2px solid black;
}

#rocky_shore {
  margin-left: 175px;
  
}

#sub3 {
  background-color: #505050;
  color: #ffffff;
  font-size: 24px;
  width: 120px;
  padding: 1px;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 50px;
}

#geo_p {
  width: 500px;
  margin-left: 170px;
}

#side_image img {
  height: 800px;
  width: 250px;
  border: 2px solid black;
}

#side_image {
  position: absolute;
  margin-top: -900px;
  margin-left: 700px;
}

#wiki {
  float: right;
  margin-right: 10px;
  margin-bottom: -20px;
}


#ngati_background img {
  width: 1026px;
  
}

.main_title3 {
  background-color: #505050;
  color: #ffffff;
  width: 210px;
  padding: 15px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  margin-top: -220px;
  margin-left: 100px;
}

.main_desc3 {
  background-color: #505050;
  color: #ffffff;
  border-radius: 10px;
  width: 400px;
  font-size: 16px;
  position: absolute;
  padding: 15px;
  margin-left: 500px;
  margin-top: -310px;
}


#gradient_cover3 {
  background-image: linear-gradient(90deg, #A0D2E8, black);
  opacity: 0.7;
  width: 1026px;
  height: 331px;
  margin-top: -335px;
  position: absolute;
}

#sub4 {
  background-color: #505050;
  color: #ffffff;
  font-size: 24px;
  width: 180px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 5px;
  float: right;
  margin-right: 340px;
  margin-top: 120px;
}

#hist_p {
  width: 400px;
  margin-left: 500px;
  margin-top: 230px;
}

#double img {
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#double2 img {
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#double {
  margin-top: -670px;
  padding-bottom: 100px;
  margin-left: 125px;
}

#double2 {
  padding-bottom: 250px;
  margin-left: 125px;
}

.main_title4 {
  background-color: #505050;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  font-size: 40px;
  width: 370px;
  position: absolute;
  margin-top: -250px;
  margin-left: 550px;
}

#waitemata_background img {
  width: 1026px;
  height: 435px;
}

#waitemata_background {
  margin-bottom: -4px;
}

.main_desc4 {
  background-color: #505050;
  color: #ffffff;
  border-radius: 10px;
  width: 400px;
  font-size: 16px;
  padding: 15px;
  position: absolute;
  margin-left: 50px;
  margin-top: -350px;
}

#gradient_cover4 {
  background-image: linear-gradient(90deg, black, #A0D2E8);
  opacity: 0.7;
  width: 1026px;
  height: 435px;
  position: absolute;
  margin-top: -439px;
}

#tri_background img {
  width: 1026px;
}

#sub5 {
  color: #ffffff;
  font-size: 32px;
  position: absolute;
  margin-top:  200px;
  margin-left: 10px;
  z-index: 2;
}

#et_desc {
  color: #ffffff;
  width: 450px;
  position: absolute;
  z-index: 2;
  margin-top: 300px;
  margin-left: 10px;
  font-size: 16px;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 1026px solid transparent;
  border-bottom: 551px solid #2E2E2E;
  position: absolute;
  margin-left: 0px;
}

#sub6 {
  background-color: #505050;
  color: #ffffff;
  font-size: 24px;
  padding: 1px;
  padding-left: 10px;
  border-radius: 10px;
  width: 105px;
  margin-top: 100px;
  margin-left: 200px;
}

#hist-p1 {
  width: 600px;
  padding-bottom: 50px;
  margin-left: 210px;
  margin-top: 20px;
}

#map img {
  width: 100%;
  height: 100%;
  width: 400px;
}

#map {
  margin-left: 300px;
}

#hist-p2 {
  width: 600px;
  margin-left: 210px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.main_desc3 a {
  color: #ffffff;
}
 

.main_title a {
  color: #ffffff;
}

.main_title2 a {
  color: #ffffff;
}

.main_title3 a {
  color: #ffffff;
}

.main_title4 a {
  color: #ffffff;
}