

#page_container {
  width: 1026px;
  box-shadow: 0px 0px 48px 16px rgba(0,0,0,0.175);
  margin: 0 auto;
  border: 1px solid black;
  background-color: #333;
}

.thumb {
  width: 275px;
  float: left;
  padding-left: 5px;
  padding-bottom: 5px;
}

body {
  font-family: "Arial", sans-serif;
}

#logo {
  width: 200px;
  float: left;
  padding: 20px 0 0 20px;
}

#logo img {
  width: 130px;
}

#page_title {
  width: 1000px;
  padding-left: 145px;
  position: absolute;
  padding-top: 7px;
}

.title {
  font-size: 40px;
  background-image: 
    linear-gradient(360deg, #bad9d4, #568d94);
  background-clip: text;
  color: transparent;
}

.sub_title {
  background-image: 
    linear-gradient(360deg, #bad9d4, #568d94);
  background-clip: text;
  color: transparent;
  padding-left: 2px;
  margin-top: -25px;
  text-align: left;
  font-style: italic;
}

nav {
  clear: both;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0D5A67;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 50px;
  font-size: 20px;
  color: #ffffff;
}

nav li a:hover {
  background-color: #05013D;
}


footer {
  clear: both;
  height: 0px;
  background-color: #0D5A67;
  padding-bottom: 200px;
}

#more_info li {
  list-style-type: none;
}

#more_info { 
  float: left;
  margin-top: 60px;
}

#more_info a {
  color: #ffffff;
}

#footer_logo img {
  width: 150px;
}

#footer_logo {
  float: right;
  padding-right: 450px;
  padding-top: 40px;
}